<?php

$config = array();

$config['LOGOUT_TIME'] = 10 * 60;
$config['LDAP_SERVER'] = 'ldap.chriseberle.net';
$config['LDAP_PORT']   = 389;
$config['LDAP_TOP']    = 'ou=People,dc=chriseberle,dc=net';
$config['PG_HOST']     = '10.0.0.1';
$config['PG_PORT']     = 8812;

$config['TIMEOUTS']    = array(
    '10 minutes' => 10 * 60,
    '30 minutes' => 30 * 60,
    '1 hour'     => 60 * 60,
    '6 hours'    => 6 * 60 * 60,
    '12 hours'   => 12 * 60 * 60,
    '24 hours'   => 24 * 60 * 60
);

$config['DEFAULT_TIMEOUT'] = '1 hour';
